In [ ]:
프로그래머스 LEVEL 1 MySQL 마지막 문제였다

나중에 ORACLE 을 배우기도 해봐야겠다.

-- 코드를 입력하세요
SELECT ANIMAL_ID FROM ANIMAL_INS WHERE NAME IS NOT NULL ORDER BY ANIMAL_ID